<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<!-- 静态资源目录默认是app/public -->
<!-- 访问路径 http://127.0.0.1:7001/public/css/user.css -->
<!-- 在config.default.js中修改prefix, 修改静态资源目录 -->
<body>
  user page
  <!-- <% include user-header.html %> -->
  <br/>
  id: <%= id %>
  <br/>
  name: <%= name %>
  <%# 注释%>

  <br/>
  <ul>
    <%#↓函数语句不用加等号,表达式要加= %>
    <% for(let i = 0; i < lists.length; i++) { %>
      <li>
        <%= lists[i] %>
      </li>
    <% } %>
  </ul>
  name: <%= name %>
</body>
</html>